body{
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
   
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px;
}

/*.thin{
    margin-right: 40px;
    margin-left: 40px;
}*/

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  /*border: none;*/
  cursor: pointer;
  width: 100%;
  border-radius: 50px;

}

button:hover {
  opacity: 0.8;
}


.left{
  float: left;
  width: 50%;
  padding-left:150px;
  padding-top:300px; 
} 

.right{
    float: left;
  width: 50%;
  padding: 250px;
  height: 300px; 
} 

.main {
  display: flex;
  justify-content: space-around;
  height: 70vh;
}


.left,.right{
  width: 46vw;
}
 

@media only screen and (max-width: 1600px){
    img {
        display: inline-block;
        flex-basis: 50%;
        padding-left: 50px;

    }
    .right {
        flex-basis: 50%;
    }
    form {
        width: 150%;
    }
    input {
        font-size: 0.5vw;
    }
}


