#sidebar {
    width: 50px;
    background-image: linear-gradient(to bottom, #a6c0fe, #f68084);
    min-height: 100vh;
    position: fixed;
    transition: width 0.5s ease-out;
    display: block;
}
.main {
    display: flex;
}
#toggle {
    width: 50px;
    height: 50px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.bar {
    width: 25px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}
#links {
    display: none;
}
#text {
    z-index: -1;
    margin-left: 70px;
}
#sidebar.open{
    width: 200px;
}
#links.open {
    display: block;
}

#links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

#links a:hover {
  color: black;
}
@media only screen and (max-width: 992px){
    #sidebar{
        position: fixed;
        display: block;
    }
}
